<h4 class="mt-0">3. PURCHASE PRICE AND FINANCING</h4>
<p>The total purchase price for the Property is <strong>$<%= offer.offerPrice.toLocaleString() %></strong> ("Purchase Price"), payable as follows:</p>

<ul class="ms-4">
  <li><strong>Balance of Purchase Price:</strong> Due at closing by certified funds, wire transfer, or as otherwise agreed in writing by the Parties.</li>
</ul>

<h5 class="mt-3">Financing Terms</h5>
  <% if (offer.financingType === 'Cash') { %>
    <p>Buyer agrees to purchase the Property for cash with no financing contingency.</p>
  <% } else { %>
    <p>Buyer intends to finance the purchase through a/an <strong style="text-transform:uppercase"><%= offer.loanType %></strong> loan in the amount of <strong>$<%= offer.loanAmount.toLocaleString() %></strong>.</p>
    <p>Buyer agrees to apply for said financing promptly and/or proceed in good faith to obtain loan approval on or before <strong><%= offer.loanApprovalDeadline %></strong>.</p>
  <% } %>

  <% if (offer.additionalFinancingTerms) { %>
    <p class="mt-3"><strong>Additional Financing Terms:</strong> <%= offer.additionalFinancingTerms %></p>
  <% } %>
