<h4>2. DESCRIPTION OF PROPERTY</h4>
<p>The real property being sold under this Agreement is as follows:</p>

  <p><strong>Street Address:</strong> <%= offer.listingAddress %>, <%= offer.listingCity %>, <%= offer.listingState %>, <%= offer.listingZip %> </p>
  <p><strong>County:</strong> <%= offer.listingCounty %> County</p>
  <p><strong>Legal Description:</strong> To be included by Title Company by closing date.</p>

  <div class="mt-2">
    <p><strong>Included Fixtures & Personal Property:</strong></p>
    <ul class="ms-4">
      <% if (offer.propertyInclusions && offer.propertyInclusions.length > 0) { %>
          <% offer.propertyInclusions.forEach(function(item) { %>
              <li><%= item %></li>
          <% }); %>
      <% } else { %>
          <li>No additional personal property included.</li>
      <% } %>
    </ul>
  </div>

  <p class="mt-2 mb-0">The property is conveyed in its present condition unless otherwise stated herein. Any errors in the legal description shall be corrected at closing.</p>
